@font-face {
  font-family: Moz;
  src: url("../fonts/MozTT-Medium.ttf");
}

body {
  margin: 0px;
  font-family: Moz;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: highlight;
}

.header {
  display: block;
  margin: 0px;
  height: 110px;
  text-align: center;
  font-size: 2vmin;
}

.header-bg {
  position: absolute;
  z-index: -1;
  margin: 0px;
  height: 110px;
}
#title-image {
  width: 75px;
}

.header-bg-current {
  border-right: 100vw solid #FF9500;
}

.header-bg-past {
  border-right: 100vw solid #00539F;
}

.header-bg-future {
  border-right: 100vw solid #002147;
}

.title-light {
  color: #EAEFF2;
}

#div-team-select {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.settings-button-container {
  display: inline-block;
}

.announcement {
  font-size: 1.5vmin;
  margin: 10px;
  padding: 10px;
  border: 3px solid #FF9500;
  text-align: center;
  background-color: #FFFFFF;
  opacity: 90%;
  border-radius: 3px;
}

.announcement a {
  color:dodgerblue;
  text-decoration:underline;
}

/* temporary, gets replaced with buglists */
#content {
  height: 67vh;
  padding-top: 3vh;
  text-align: center;
}

#buglists {
  height: 100%;
  border: 0px solid blue;
  display: grid;
  grid-template-columns: repeat(7, 14%);
  grid-gap: 2px;
  text-align: center;
}

/* individual bucket divs */
.bugcount {
  border: 1px solid #D4DDE4;
  border-radius: 4px;
  text-align: center;
}

.bugcount .who {
  font-size: 1.3vw;
  display: inline-block;
}

.bugcount .date {
  font-size: 0.9vw;
  display: block;
}

.bugcount .data {
  font-size: 3vw;
  display: inline-block;
}

.bugcount .ubdata {
  font-size: 3vw;
  display: inline-block;
  color: #FF9500;
}

.greyedout {
  color: #D4DDE4;
}

.bugcount .sub {
  font-size: 1vw;
  display: inline-block;
  color: #000000;
}

#errors {
  color:red;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  height: 4vh;
  padding-top: 2vh;
  font-size: 2vmin;
  text-align: center;
}

#footer a {
  padding-top: 1vmin;
  padding-left: 3vmin;
  padding-right: 3vmin;
}

.footer-current {
  background-color: #FF9500;
}

.footer-past {
  background-color: #00539F;
  color: #EAEFF2;
}

.footer-future {
  background-color: #002147;
  color: #EAEFF2;
}

/* Toolbar button controls */

.command-button-container {
  padding-left: 2vmin;
  padding-right: 2vmin;
  border: 0px solid green;
}

.command-button:disabled {
  cursor: default;
}

.stats {
  padding-top: 3px;
  float: left;
  font-size: 1.75vmin;
  font-family: Moz;
}

#team-select, #team-option {
  padding: 5px;
  font-family: Moz;
}

.command-button {
  padding: 5px;
  margin-left: 10px;
  font-family: Moz;
  float: right;
}

.command-button-hidden {
  padding: 5px;
  margin-left: 10px;
  font-family: Moz;
  float: right;
  visibility: collapse;
}

.button-separator {
  display: inline-block;
  float: right;
  padding: 10px;
}

.settings-button-container {
  padding: 0px;
  margin: 0px;
  border: 0px solid blue;
  float: right;
}

.alert-icon {
  position: absolute;
  visibility: hidden;
  margin-left: 65px;
  margin-top: -2px;
}

/* Setting panel container */
#prompt-query-account {
  font-size: 1.5vmin;
  position: absolute;
  font-size: 1vmin;
  width: 50%;
  box-shadow: 4px 4px 2px 2px rgba(0,0,0,.1);
  position: fixed;
  top: 150px;
  border: 3px solid #cdc6b7;
  border-radius:2px;
}

.prompt-buttons-form {
}

.prompt-buttons-form #btn-confirm, #btn-cancel {
  padding: 12px 12px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
}

#btn-cancel {
  background-color: #cc0000;
}

#api-key {
  width: 90%;
}

.settings-container {
  display: grid;
  gap: 0px;
  grid-row-gap: 5px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 2vmin;
}

.settings-label-title {
  font-size: 2vmin;
  margin-top: 10px;
}

/* centered form some reason? */
.settings-header {
  grid-column: 1 / span 2;
  /* margin-top: 20px;*/
  border-bottom: 1px solid #e0e0e0;
}

.settings-col1 {
  grid-column: 1;
  padding-right: 0px;
  justify-self: center;
  font-size: 1vmin;
  display: flex;
  height: 100%;
  align-items: center;
}

.settings-col2 {
  grid-column: 2;
  padding-left: 0px;
  font-size: 1.2vmin;
  align-items: start;
}

.settings-label {
  margin-top: 3px;
}

/* settings buttons container */
.nowrap {
  display: inline-block;
}

#progress {
  visibility: hidden;
  width: 100%;
  text-align: center;
}

#progressmeter {
  width: 40%%;
  height: 15px;
}