@font-face {
  font-family: Moz;
  src: url("../fonts/MozTT-Medium.ttf");
}

body {
  margin: 0px;
  font-family: Moz;
}

.header {
  margin: 0px;
  height:15vh;
  text-align: center;
  font-size:  6vmin;
}

.header-bg {
  position: absolute;
  z-index: -1;
  margin: 0px;
  height:15vh;
  border-bottom: 50px solid transparent;
}

.header-bg-current {
  border-right: 100vw solid #FF9500;
}

.header-bg-past {
  border-right: 100vw solid #00539F;
}

.header-bg-future {
  border-right: 100vw solid #002147;
}

.header div {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  margin-top: 3vmin;
}

.title-light {
  color: #EAEFF2;
}

.subtitle {
  font-size: 3vmin;
  margin-left: -30vmin;
  padding-top: 10vmin;
}

.announcement {
  font-size: 1.5vmin;
  margin: 25px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid orange;
  text-align: center;
  background-color: #FFFFFF;
  opacity: 90%;
  border-radius: 3px;
}

.announcement a {
  color:dodgerblue;
  text-decoration:underline;
}

#content {
  height: 67vh;
  padding-top: 3vh;
  text-align: center;
}

.bugcount {
  display: inline-block;
  padding: 1vw;
}

.bugcount h2 {
  font-size: 4vw;
  font-weight:normal;
  width: 12ch;
}
.bugcount .data {
  font-size: 3vw;
  display: inline-block;
}

.bugcount .ubdata {
  font-size: 3vw;
  display: inline-block;
  color: #FF9500;
}

.greyedout {
  color: #D4DDE4;
}

.bugcount .sub {
  font-size: 1vw;
  display: inline-block;
  color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: highlight;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  height: 4vh;
  padding-top: 2vh;
  font-size: 2vmin;
  text-align: center;
}

#footer a{
  padding-top: 1vmin;
  padding-left: 3vmin;
  padding-right: 3vmin;
}

.footer-current {
  background-color: #FF9500;
}

.footer-past {
  background-color: #00539F;
  color: #EAEFF2;
}

.footer-future {
  background-color: #002147;
  color: #EAEFF2;
}

#prompt-query-account {
  font-size: 1.5vmin;
  color: black;
  position: absolute;
  text-align: center;
  font-size: 1vmin;
  width: 30%;
  transform: translate(0, -300px);
  background-color: #f0f0f0;
}

.prompt-buttons-form {
  border: 0px solid green;
}

.prompt-buttons-form #btn-confirm, #btn-cancel {
  padding: 12px 12px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
}

#btn-cancel {
  background-color: #cc0000;
}

.prompt-api-key-div {
  font-size: 1.5vmin;
  display: inline-block;
  width: 95%;
  border: 0px solid blue;
  margin-bottom: 10px;
}

#api-key {
  width: 90%;
}

.alert-icon {
  position: absolute;
  visibility: hidden;
  margin-left: -11px;
  margin-top: 1px;
}

.setting-buttons {
  border: 0px solid blue;
  float: left;
  width: 50%;
  white-space: nowrap;
  display: inline-block;
}

#div-team-select {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.settings-button-container {
  display: inline-block;
  border: 0px solid red;
}

.nowrap {
  display: inline-block;
}

#progress {
  visibility: hidden;
  width: 100%;
  text-align: center;
  border: 0px solid blue;
}

#progressmeter {
  width: 40%%;
  height: 15px;
}